body{
 
    background-color: whitesmoke;
}

div{
    background-color: green;
    
}

#title1{
    color: black;
    font-size: 1cm;
}
    
#description1{
    color: gray;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 0.65cm;
}

#subtitle1{
    color: gray;
    font-size: 0.5cm;
}

#textArea{
    padding-left: 30%;
    padding-right: 30%;
    height: 4cm;
}


